/* ボタンの基本形 */
.btn {
    padding: 10px 20px;
    transition: 0.3s; /* 変化をなめらかに */
}

/* マウスを乗せた時に強調される設定 */
.btn:hover {
    background-color: #ff00ff;
    transform: scale(1.1); /* 少し大きくする */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}